/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.block {
		height: 321px;
		padding: 40px 30px 30px 30px;
	}

	.footer input {
		font-size: 20px;
		width: 290px;
	}

	.footer button {
		font-size: 26px;
		padding: 5px 15px 6px 15px;
	}

	.block span {
		font-size: 60px;
	}

	.block p {
		font-size: 22px;
	}

	.title_block {
		margin-top: 300px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.about_s img {
		width: 70%;
		margin: 0 auto 30px auto;
		display: block;
	}

	.footer {
		text-align: center;
	}
	.footer h4 {
		margin-top: 80px;
		text-align: center;
	}

	.footer_logo {
		margin: 0px 0 0px 0;
	}

	nav {
		height: auto;
		line-height: 100px;
	}

	.title_block {
		margin-top: 380px;
	}

	.logo {
		padding-top: 35px;
		height: auto;
		margin: 0 auto;
		display: block;
		float: unset;
		width: 222px;
	}

	.navbar-header {
		float: none;
	}

	.block {
		height: 248px;
		padding: 15px 20px 20px 20px;
	}

	.block p {
		font-size: 18px;
	}

	.block span {
		font-size: 50px;
	}


	.about_s:before {
		width: 300px;
		height: 300px;

		top: inherit;
		bottom: 0;
		transform: translate(50%, 40%);
		transition: 1s;
	}

	.about_s:after {
		width: 300px;
		height: 300px;
		transform: translate(50%, -40%);
		top: 0;
		transition: 1s;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
		header {
	 		padding: 0 5px;
			 transition: 1s;
			 height: auto;
		}

		.title_block h1 {
		    font-size: 100px;
		    transition: 1s;
		}
		
		.title_block {
		    color: #fff;
		    text-align: center;
		    margin-top: 140px;
		}

		.param_s {
 		   padding: 40px 0;
		}



		.logo{
			padding-top: 15px;
		}
		.menu_btn{
			width: 40px;
			height: 40px;
			border-radius:10%;
			background-color: #fff;
			color: #fff; 
		}
		.menu_btn span{
			top: -15px;
		}
		#top_menu{
			background-color: #2a2e48;
			padding: 20px 0;
			border-bottom: 1px solid #515369;
			transition: 1s;
		}
		.menu li{
			display: block;
			text-align: center;
		}
		.menu li a{
			display: block;
		}
		.menu li a:hover{
			background-color: #fff;
			color: #000;
		}

		nav {
			height: 66px;
			line-height: 60px;
		}

		.menu_btn {
			margin-top: 13px;
		}

		nav {
			height: 73px;
		}

		#top_menu {
			background-color: #f9f6f0;
			padding: 20px 0;
		}

		.grid {
			grid-template-columns: 1fr 1fr;
		}

		.block {
			height: 100%;
			padding-top: 10%;
		}

		.block span {
			font-size: 40px;
		}
		.block p {
			margin-bottom: 0px;
		}


		.about_s:before {
			top: 0;
			transform: translate(50%, -40%);
			transition: 1s;
		}
	
		.about_s:after {

			transform: translate(50%, 40%);
			top: inherit;
			bottom: 0;
			transition: 1s;
		}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


	.logo{
		padding-top: 15px;
	}



	.menu_btn span{
		top: -15px;
	}

	.menu li{
		display: block;
		text-align: center;
	}
	.menu li a{
		display: block;
	}
	.menu li a:hover{
		background-color: #fff;
		color: #000;
	}

	.grid {
		grid-template-columns: 1fr;
	}

	.gallery_img {
		text-align: center;
		margin-bottom: 40px;
		margin-top: 40px;
	}

	.gallery_img img {
		max-width: 300px;
	}

	.block {
		padding: 25px 20px 30px 20px;
	}
	.logo{
		padding-top: 15px;
		margin: 0 !important;
	}

	.footer input {
		font-size: 18px;
		width: 220px;
		letter-spacing: 1px;
	}

	.footer button {
		font-size: 23px;
		padding: 5px 12px 8px 12px;
	}

	

	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {





	.menu_btn span{
		top: -15px;
	}

	.menu li{
		display: block;
		text-align: center;
	}
	.menu li a{
		display: block;
	}
	.menu li a:hover{background-color: #fff;
		color: #000;}

}

